<section class="container d-flex justify-content-around pt-4">
  <mat-card class="col-sm-4 d-inline-block align-top h-100">
      <form [formGroup]="GroupContactForm" #formDirective="ngForm">
          <mat-card-title>Contacto de Grupos</mat-card-title>
          <mat-card-content>

              <mat-form-field class="w100">
                  <input matInput formControlName="contact" placeholder="Contacto del Grupo" autocomplete="off">
                </mat-form-field>

                <mat-form-field class="w100">
                    <mat-label>Tipo Contacto</mat-label>
                    <mat-select formControlName="contact_type_id"><!---->
                        <mat-option [value]="itemCategory.item_category_id" *ngFor="let itemCategory of listContactType">
                            {{itemCategory.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

              <mat-form-field class="w100">
                  <mat-label>Grupos</mat-label>
                  <mat-select formControlName="group_id">
                      <mat-option [value]="group.group_id" *ngFor="let group of listGroup">
                          {{group.name}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>


          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button color="primary" (click)="submitForm(GroupContactForm)">Guardar</button>
              <button mat-raised-button (click)="resetForm()">Cancelar</button>
          </mat-card-actions>
      </form>
  </mat-card>
  <mat-card class="col-sm-7 d-inline-block">
          <mat-form-field class= "w100">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                </mat-form-field>

      <mat-table [dataSource]="data" class="w100" cols="3"> 
        <ng-container matColumnDef="contact">
          <mat-header-cell *matHeaderCellDef> Contacto </mat-header-cell>
          <mat-cell *matCellDef="let groupContact"> {{groupContact.contact}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="contact_type_id">
          <mat-header-cell *matHeaderCellDef> Tipo Contacto </mat-header-cell>
          <mat-cell *matCellDef="let groupContact">{{groupContact.contact_type_id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="group_id">
          <mat-header-cell *matHeaderCellDef> Grupo </mat-header-cell>
          <mat-cell *matCellDef="let groupContact">{{groupContact.group_id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let groupContact"><a (click)="deleteGroupContact(groupContact.group_contact_id)"><i
              class="material-icons">delete</i></a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef> Actualizar </mat-header-cell>
            <mat-cell *matCellDef="let groupContact"><a (click)="loadData(groupContact)"><i class="material-icons">edit</i></a>
            </mat-cell>
          </ng-container>
  
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </mat-card>

</section>