@charset "utf-8";
@import url(https://use.fontawesome.com/releases/v5.0.8/css/solid.css);

@import url(https://use.fontawesome.com/releases/v5.0.7/js/all.js);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body { font-family: 'PT Sans', sans-serif; }

.bg-primary { background-color: #003F72 !important; }
.bg-warning { background-color: #FDCB14 !important; }
.bg-warning2 { 
  background-color: #003F72 !important;
  border: solid #003F72; 
}
.bg-oscuro { background-color: #151515 !important; }
.bg-gris { background-color: #9B9B9B !important; }

.text-primary { color: #003F72 !important; }
.text-warning { color: #FDCB14 !important; }
.text-gray { color: #9B9B9B }
.text-oscuro { color: #151515 }

/*para fondo menu talvez*/
.navbar { padding: 30px 15px; 
  padding-top: 0rem;
background: rgb(223, 225, 226)}

.navbar-nav .active {
  background-color: #FDCB14;
  font-weight: bold;
  border-radius: 18px;
}

.nav-link {
  font-weight: 700;
  border: 3px solid #FDCB14;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  
}


.nav-link:hover { border: 3px solid #2c3e50; }

.linea { height: 3px; }

.quienes-somos { padding: 6rem 0 6rem 0; }

#slide1 { background-image: url('../../../../images/code-coding-computer-574071.jpg') }
#slide2 { background-image: url('../../../../images/adult-business-close-up-1181263.jpg') }
#slide3 { background-image: url('../../../../images/blurred-background-code-coding-1261427.jpg') }

.swiper-slide {
  height: 41rem;
  text-align: left;
  color: #fff;
  background-size: cover;
  background-position: center center;
}

.swiper-slide:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .4;
}

.texto-slide { width: 75%; }

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  margin: 0 0.3rem !important;
}

.swiper-pagination-bullet-active { background-color: #FDCB14 }

#evento1 { background-image: url('../../../../images/code-coding-computer-574071.jpg') }
#evento2 { background-image: url('../../../../images/widdisonphotography_0023-900x720.jpg') }
#evento3 { background-image: url('../../../../images/tj-jen-presenting.jpg') }

.imagen-evento {
  height: 13rem;
  text-align: left;
  color: #fff;
  background-size: cover;
  background-position: center center;
}

.box-evento {
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
}

#quienes-somos, #departamentos, #autoridades, #grupos { padding: 100px 0; }

.titulo {
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 56px;
}

.titulo-quienes-somos, .titulo-autoridades, .titulo-grupos { margin-bottom: 34px; }
#titu1 { background-image: url('../../../../images/tj-jen-presenting.jpg'); 
  width:590px;
  height:400px;
  background-position: center center;
  background-size: cover;
  text-align: left;
}




.texto-about, .texto-cita {
  letter-spacing: 0.8px;
  line-height: 24px;
}

.box-departamento {
  padding: 40px 20px;
  border: 3px solid rgba(255,255,255, .2);
}

.titulo4 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.4px;
  line-height: 24px;
}

.texto-departamento {
  letter-spacing: 0.4px;
  line-height: 20px;
}

.btn-departamento {
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 0%;
}
.btn-autoridad {
  margin-top: 80px;
  padding: 10px 40px;
  border-radius: 0%;
  display:inline-block;
}

.box-autoridad {
  margin-top: 30px;
  margin-bottom: 30px;
}
#auto1 { background-image: url('../../../../images/BT_20171021_JLRC21_3136580.jpg'); 
      width:115px;
      height:119px;
      background-position: center center;
      background-size: cover;
      text-align: left;
    }

    #log1 { background-image: url('../../../../images/user.png'); 
      width:115px;
      height:119px;
      background-position: center center;
      background-size: cover;
      text-align: left;
    }

#auto2 { background-image: url('../../../../images/BT_20171021_JLRC21_3136580.jpg'); 
  width:115px;
  height:119px;
  background-position: center center;
  background-size: cover;
  text-align: left;
}

#auto3 { background-image: url('../../../../images/BT_20171021_JLRC21_3136580.jpg'); 
  width:115px;
  height:119px;
  background-position: center center;
  background-size: cover;
  text-align: left;
}
#auto4 { background-image: url('../../../../images/BT_20171021_JLRC21_3136580.jpg'); 
  width:115px;
  height:119px;
  background-position: center center;
  background-size: cover;
  text-align: left;
}


.card-autoridad {
  padding: 70px 30px 40px 30px;
  border: 2px solid rgba(253,203,20,0.2);
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .box-evento {
    height: 36px;
  }
}

.main-section{
  margin:10px auto;
  margin-top:15%;
  padding: 0;

}

.modal-content{
  background-color: #d8dee4;
  opacity: .85;
  padding: 0 0px;
  box-shadow: px 0px 3px #848484;

}
.user-img{
  margin-top: -50px;
  margin-bottom: 35px;
}

.user-img img{
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
}

.form-group input{
  height: 42px;
  font-size: 18px;
  border:0;
  padding-left: 54px;
  border-radius: 5px;
}

.form-group::before{
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  left: 28px;
  font-size: 22px;
  padding-top:4px;
}
.form-group#user-group::before{
  content: "\f007";
  color: rgb(19, 18, 18); 
}

.form-group#contrasena-group::before{
  content: "\f023";
  color: rgb(19, 18, 18); 
}

#login form input[type="submit"] {
  background: rgb(228, 187, 39);
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: #6b2c31;
}
.forgot{
  padding: 5px 0;
}

.forgot a{
  color: rgb(73, 70, 70);
}


#nuevo {
  padding-top:0rem;
  padding-bottom: 0rem;
	font-size: 12px;
	font-family: sans-serif;
  background:rgb(223, 225, 226);/*#2c3e50*/
  position: relative;
  width: 100%;
  left: 0;

}


