<div id="nuevo">
  <nav>
    <a *ngFor="let menu of  listMenu" routerLink="{{menu.url}}">{{menu.name}}</a>

    <div class="animation start-home"></div>
  </nav>
</div>
<!--Testimonios-->
<section id="grupos" class="bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 mx-auto">
        <h2 class="titulo titulo-grupos text-white">Testimonios</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12" *ngFor=" let testimonios of listTestimonios;  let i=index">
                <div class="row">
                  <div class="col-md-6 px-0">
                    <div>
                      <iframe width="590" height="400" src="https://www.youtube.com/embed/sUhJwmuBzp4" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-md-6 d-flex bg-white">
                    <div class="info my-auto">
                      <h2 class="text-center">{{testimonios.title}}</h2>
                      <hr class="bg-warning w-25">
                      <p class="w-75 mx-auto text-justify">{{testimonios.description}}.</p>
                      <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-warning">Leer más</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="bg-warning ">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>