<div id="nuevo">
  <nav>
    <a *ngFor="let menu of  listMenu" routerLink="{{menu.url}}">{{menu.name}}</a>

    <div class="animation start-home"></div>
  </nav>
</div>

<section id="autoridades" class="bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 mx-auto">
        <h2 class="titulos titulo-grupos text-white">Malla Curricular</h2>
        <div class="row">
          <div class="col-md-12 box-autoridades bg-light">
            
          <!--<ul *ngFor=" let requirements of listMaterias">
            <p>requisitos</p>
            <li> cadena Principal {{requirements.subject_matter_data.name}}</li>
          
           
          </ul>-->
          <br>
          <div>
          <h2 class="titulo">Malla Académica de Sistemas</h2><br>
        </div>
        <br>
        <div class="redondeo">
        <mat-grid-list cols="6" rowHeight="60px">

          <mat-grid-tile *ngFor="let materias of listMaterias"  [ngbPopover]="popContent"
            popoverTitle="{{materias.subject_matter_data.name}}" triggers="mouseenter:mouseleave" i="6">

            <ng-template  #popContent> 
              Ciclo Ademico: {{materias.subject_matter_data.semester}}
              <div *ngFor="let requi of materias.requirements; let i=index">
                <br><b >
                  Cadena: {{requi.name}} </b>
              </div>
            </ng-template>
              {{materias.subject_matter_data.name}}
            
          </mat-grid-tile>

        </mat-grid-list>
      </div>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
</section> <!--*ngFor="let prueba of materias.requirements.length; let i=index"

   <br><b *ngIf="i>-1 && i<materias.requirements.length ===0 ; let v=index">
                Cadena: {{materias.requirements[v].name}} </b>
            </ng-template>
            {{materias.subject_matter_data.name}}
          </mat-grid-tile>
</mat-grid-tile>"



<br><b *ngIf="i>-1 && i<materias.requirements.length===0 ; let v=index">-->