<!--<div id="nuevo">
  <nav>
    <a *ngFor="let menu of  listMenu" routerLink="{{menu.url}}">{{menu.name}}</a>

    <div class="animation start-home"></div>
  </nav>
</div>-->
<!--Menus-->
<div id="nuevo">
    <nav class="navbar navbar-expand-lg navbar-light ">
  
      <div class="d-flex mx-auto mt-md-4">
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active mr-2" *ngFor="let menu of  listMenu">
              <!--
              <a class="nav-link py-2 px-4" routerLink="{{menu.url}}">{{menu.name}}<span-->
              <a class="nav-link py-2 px-4" [routerLink]="['/Sistemas']" >{{menu.name}}<span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item active mr-2">
                <a class="nav-link py-2 px-4" [routerLink]="['/Sistemas/malla']" tabindex="-1" aria-disabled="true">Malla</a>
              </li>
            <li class="nav-item active mr-2">
              <a class="nav-link py-2 px-4" (click)="open(content)" tabindex="-1" aria-disabled="true">Login</a>
            </li>-->
          </ul>
  
        </div>
  
      </div>
  
    </nav>
  </div>
<section id="autoridades" class="bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11 mx-auto">
        <h2 class="titulos titulo-grupos text-white">Malla Curricular</h2>
        <div class="row">
          <div class="col-md-12 box-autoridades bg-light">
            
          <!--<ul *ngFor=" let requirements of listMaterias">
            <p>requisitos</p>
            <li> cadena Principal {{requirements.subject_matter_data.name}}</li>
          
           
          </ul>-->
          <br>
          <div>
          <h2 class="titulo">Malla Académica de {{this.bandera.name}}</h2><br>
        </div>
        
        <div class="col-md-12 box-departamento">
        <mat-grid-list cols="6" rowHeight="60px">

          <mat-grid-tile *ngFor="let materias of listMaterias"  [ngbPopover]="popContent"
          [popoverTitle]="popTitle"  popoverClass="popTitle" triggers="mouseenter:mouseleave" i="6">
            <ng-template #popTitle><b>{{materias.subject_matter_data.name}}</b></ng-template>
            <ng-template  #popContent> 
              <b>Ciclo Ademico:  </b>{{materias.subject_matter_data.semester}}
              <div *ngFor="let requi of materias.requirements; let i=index">
                <br><b >
                  Requisito:</b>{{requi.name}}
              </div>
            </ng-template>
              {{materias.subject_matter_data.name}}
            
          </mat-grid-tile>

        </mat-grid-list>
      </div>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
</section> <!--*ngFor="let prueba of materias.requirements.length; let i=index"

   <br><b *ngIf="i>-1 && i<materias.requirements.length ===0 ; let v=index">
                Cadena: {{materias.requirements[v].name}} </b>
            </ng-template>
            {{materias.subject_matter_data.name}}
          </mat-grid-tile>
</mat-grid-tile>"



<br><b *ngIf="i>-1 && i<materias.requirements.length===0 ; let v=index">-->