
<mat-toolbar id="mainToolbar" color="primary">
  
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  My Awesome App
  <span class="toolbar-spacer"></span>
 
<button mat-fab [matMenuTriggerFor]="menu" color ="warn" >
    <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>assignment_return</mat-icon>
      <span>Cerrar Sesion</span>
    </button>
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container fxFlexFill id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
      <span class="sidenav-spacer"></span>
    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>

          <mat-card-title>John Doe</mat-card-title>
          <mat-card-subtitle>Internal</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="category">
          <mat-icon>category</mat-icon>
          Categorías
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="itemcategory">
          <mat-icon>dashboard</mat-icon>
          Items de Categoría
        </button>
      </mat-list-item>

      
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="person">
          <mat-icon>person_add</mat-icon>
          Personas
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="personsrole">
          <mat-icon>perm_contact_calendar</mat-icon>
          Roles de Personas
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="personsmedia">
          <mat-icon>view_agenda</mat-icon>
          Personas Media
        </button>
      </mat-list-item>
      
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="personcontact">
          <mat-icon>contacts</mat-icon>
          Personas Contactos
        </button>
      </mat-list-item>
      <!--PersonDepartament-->
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="persondepartament">
          <mat-icon>work</mat-icon>
          Personas Departamentos
        </button>
      </mat-list-item>
      <!--Content-->
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="content">
          <mat-icon>archive</mat-icon>
          Contenido
        </button>
      </mat-list-item>
      <!--content_media-->
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink ="contentMedia">
          <mat-icon>perm_media</mat-icon>
          Contenido Media
        </button>
      </mat-list-item>
      
      <!--content_info-->
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="contentInfo">
          <mat-icon>info</mat-icon>
          Contenido Informacion
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink ="infosite">
          <mat-icon>filter_list</mat-icon>
          Informacion Sitio
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="menu">
          <mat-icon>menu</mat-icon>
          Menu
        </button>
      </mat-list-item>     
         <!--Subject Matter-->
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="subjectMatter">
          <mat-icon>filter_none</mat-icon>
          Materias
        </button>
      </mat-list-item>
       <!--Pre-Requirements-->
       <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="preRequirements">
          <mat-icon>file_copy</mat-icon>
          Pre Requisitos
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>settings_application</mat-icon>
          Settings
        </button>
      </mat-list-item>
    

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet> </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

