mat-card-actions{
    text-align: center;
    border-bottom: 0em;
    margin-bottom: 0em;
}
@media screen and (max-width:1024px) and (min-width:640px){
    .contenedor{
        float: center;
        background-color: blueviolet;
    }
    .tabla{
        float: center;
        font-family: 'Courier New', Courier, monospace;
    }
 }

